body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 40px;
}

h1 {
    font-family: Mistral, cursive;
    font-size: 100px;
    margin: 0 0 60px 0;
}

h2 {
    margin: 100px 0 20px 0;
}

h1 + h2 {
    margin-top: 0;
}

p {
    margin: 0 0 25px 0;
}

a {
    display: inline-block;
    background-color: #444;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 8px;
}

a:hover {
    background-color: #666;
}
